[submodule "components/esp32-adafruit-096-tft"]
	path = components/esp32-adafruit-096-tft
	url = https://github.com/mvolk/esp32-adafruit-096-tft.git
[submodule "components/esp32-adafruit-144-tft"]
	path = components/esp32-adafruit-144-tft
	url = https://github.com/mvolk/esp32-adafruit-144-tft
[submodule "components/esp32-tft"]
	path = components/esp32-tft
	url = https://github.com/mvolk/esp32-tft.git
[submodule "components/esp32-st7735r"]
	path = components/esp32-st7735r
	url = https://github.com/mvolk/esp32-st7735r
[submodule "components/esp32-st7789"]
	path = components/esp32-st7789
	url = https://github.com/mvolk/esp32-st7789.git
[submodule "components/esp32-adafruit-114-tft"]
	path = components/esp32-adafruit-114-tft
	url = https://github.com/mvolk/esp32-adafruit-114-tft.git
[submodule "components/esp32-adafruit-130-tft"]
	path = components/esp32-adafruit-130-tft
	url = https://github.com/mvolk/esp32-adafruit-130-tft.git
[submodule "components/esp32-ds3231"]
	path = components/esp32-ds3231
	url = https://github.com/mvolk/esp32-ds3231.git
